.card-container {
    // width: 288px; height: 320px;
    border: 1px solid var(--md-sys-color-outline);
    border: 1px solid rgba(var(--md-sys-color-outline-rgb), 0.3);
    transition: border 0.2s ease-in-out;
}

.card-container:hover {
    border: 1px solid rgba(var(--md-sys-color-outline-rgb), 1);
    transition: border 0.2s ease-in-out;
}