.bg {
    position: absolute;
    width: 420px;
    height: 100px;
    top: 48%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(15px);
    background-color: rgba(124, 41, 64, 0.1);
    z-index: -1;
    border-radius: 50%;
    
}
