.item {
  position: relative;
  transition: all 0.3s ease-in-out;
}

.item:not(.active):hover {
  h3 {
    font-weight: 600;
  }
  .img-container::before {
    content: "";
    position: absolute;
    border-radius: 100px;
    height: 35px;
    width: 60px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -60%);
    background-color: var(--md-sys-color-secondary-container);
    transition: all 0.2s ease-in-out;
    opacity: 0.3;
    z-index: -1;
  }
}

.active {
  h3 {
    font-weight: 700;
    letter-spacing: 0.3px;
    color: var(--md-sys-color-on-secondary-container);
  }
  .img-container::before {
    content: "";
    position: absolute;
    border-radius: 100px;
    height: 35px;
    width: 60px;
    left: 50%;
    top: 30%;
    transform: translate(-50%, -60%);
    background-color: var(--md-sys-color-secondary-container);
    transition: all 0.2s ease-in-out;
    z-index: -1;
  }
}
